@media (max-width: 768px) {
	html {
		scroll-behavior: smooth;
	}
	.cd-section {
		height: auto;
	}
	.cd-section > div {
		height: auto;
	}
	.content {
		position: static;
		width: 100%;
		height: 100%;
		background-color: #000;
	}
	header {
		transition: 0.5s;
		height: 60px;
	}
	header.active {
		background-color: #fff;
		border-bottom: 1px solid #ccc;
	}
	.menu {
		display: block;
	}
	.slogan {
		display: none;
	}
	.gnb {
		background-color: #fff;
		position: fixed;
		top: 0;
		right: -270px;
		width: 250px;
		height: 100vh;
		box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
		transition: 0.5s;
	}
	.gnb.active {
		right: 0;
	}
	.menu {
		margin-top: 60px;
		text-align: right;
		padding-right: 20px;
		line-height: 40px;
	}
	.menu a {
		display: block;
		color: #000;
		font-size: 20px;
	}
	.trigger {
		display: block;
		/* border: 1px solid black; */
		width: 24px;
		height: 14px;
		position: absolute;
		top: 20px;
		right: 20px;
	}
	.trigger span {
		width: 100%;
		height: 2px;
		background-color: #000;
		position: absolute;
		transition: 0.2s;
	}
	.trigger span:nth-child(1) {
		top: 0;
	}
	.trigger span:nth-child(2) {
		top: 50%;
		width: 80%;
	}
	.trigger span:nth-child(3) {
		top: 100%;
	}
	/* span active */
	.trigger.active span:nth-child(1) {
		top: 50%;
		transform: rotate(45deg);
	}
	.trigger.active span:nth-child(2) {
		opacity: 0;
	}
	.trigger.active span:nth-child(3) {
		top: 50%;
		transform: rotate(-45deg);
	}
	/* top 이동 버튼 */
	.gototop {
		position: fixed;
		bottom: 20px;
		left: 20px;
		width: 40px;
		height: 40px;
		border: 2px solid #fff;
		border-radius: 50%;
		background-color: #333;
		text-align: center;
		line-height: 50px;
		transform: translateY(100px);
		transition: 1s;
		opacity: 0;
	}
	.gototop.active {
		transform: none;
		opacity: 1;
	}
	.btn-hiring {
		right: 20px;
		bottom: 20px;
	}
	/* 메인컨텐츠 */
	/* 1. 홈 */
	.home-inner {
		height: 1000px;
	}
	.home-inner .title {
		width: 100%;
		right: 0;
		bottom: 20%;
	}
	.home-inner .title:hover {
		bottom: 15%;
	}
	/* 2. 어바웃 */
	.about-inner {
		height: 100vh;
		perspective: none;
	}
	.about-text {
		width: 95%;
		left: 2.5%;
		top: 10%;
		transform: translate(0);
		box-shadow: none;
	}
	.about-slide {
		display: none;
	}
	/* 3. 메인컨텐츠 */
	.content {
		height: 100vh;
	}
	.choice {
		flex-direction: column;
	}
	.choice li {
		height: 50px;
		width: 100%;
	}
	/* 4. 컨텐트및 푸터 */
	#contact > div > .content {
		height: 1250px;
	}
	.contact-inner {
		height: 2000px;
	}
	.contact-feature {
		height: 100%;
		width: 100%;
		background-color: #efefef;
		padding: 10px;
	}
	.contact-feature {
		flex-direction: column;
	}
	.contact-feature > div {
		width: 100%;
	}
	.contact-info h4 {
		margin: 0;
	}
	/* 용품 페이지 */
	.list-inner {
		border: none;
	}
	/* 강아지 */
	#quick-menu {
		display: none;
	}
	#sub-content1{
		/* height: 350px; */
	}
}
