section{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
/* title */
.title{
    height: 80vh;
    overflow: hidden;
}
.title-inner h2{
    font-size: 48px;
    width: fit-content;
    text-align: center;
    margin: 50px auto;
    font-family: Manrope;
    position: relative;
    font-weight: 500;
}
.title-inner h2::before{
    content: "";
    width: 50%;
    height: 3px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: -52%;
}
.title-inner h2::after{
    content: "";
    width: 50%;
    height: 3px;
    background-color: #000;
    position: absolute;
    top: 50%;
    right: -52%;
}
.title-img{
    border: 1px solid #000;
    width: 100%;
    height: 100%;
    transition: .5s;
    background-image: url("../img/WallpaperDog.jpg");
    background-position: 50% 0%;
    background-size: 120%;
    background-repeat: no-repeat;
}
.title-img:hover{
    background-position: 50% 50%;
    background-size: 100%;
}
.list-inner{
    margin: 30px auto;
    width: 100%;
    max-width: 1440px;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
}
.list-inner div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.list-inner h2{
    font-size: 32px;
    text-align: center;
    font-family: Manrope;
    font-weight: 300;
    text-shadow: 0 0 5px orange;
}
.list-item{
    width: 400px;
    height: 300px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
}
.list-item:nth-of-type(1),
.list-item:nth-of-type(2),
.list-item:nth-of-type(3),
.list-item:nth-of-type(4),
.list-item:nth-of-type(5),
.list-item:nth-of-type(6){
    background-image: url("../img/WallpaperDog.jpg");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.list-item>div{
    height: 100%;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(255,255,255,.8);
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: -100%;
    transition: .5s;
    font-family: Montserrat;
}
.list-item:hover>div{
    opacity: 1;
    bottom: 0;
}
.buy-link{
    padding: 5px 15px;
    background-color: orange;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transform: translateY(0);
}
.buy-link:hover{
    transform: translateY(-10%);
}
.list-item h4{
    font-size: 20px;
}
.list-item p{
    font-size: 14px;
}